@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#app {
  width: 100%;
  max-width: 1100px;
  background-color: burlywood;
}

/* Formatação dos t´tilulos */
.titles {
  text-align: center;
  margin: 100px 0;
}

/* Formatação do counter */
.input-counter {

}